body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #c1dde9;
}
#container{
  display: flex;
}
p{
margin: 3px;
}
pre{
  margin: 0px;
}
#fields {
flex:1;
}
#players {
display: flex;
flex-direction: row;
flex:1;
}
#players p{
color: rgba(117, 190, 218, 0.0)
}
#prices {
flex:1;
}
#move{
flex:1;
}
#money{
flex:1;
}
td{
padding: 20px;
padding-right: 5px;
padding-left: 5px;
border: 2px solid black;
}
